body {
  background-color: #fffcf1;
}

h1 {
  color: #a35c2c;
  margin-left: 50px;
}
h2 {
  color: #674833;
  margin-left: 250px;
}
h3 {
  color: #885f43;
  margin-left: 265px;
  writing-mode: vertical-rl
}
h4 {
  color: #a97653;
  margin-left: 280px;
}
h5 {
  color: #ba9073;
  margin-left: 300px;
  writing-mode: vertical-rl
}
h6 {
  color: #261a12;
  margin-left: 310px;
}
h7 {
  color: #a35c2c;
  margin-left: 310px;
}
#coffee {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(beans.jpg) 50 round;
}
#coffee {
margin: 0 auto;
 padding: 0;
 width: 100px;
 height:100px;
}
#example1 {
  background: url(cartoon.gif)left top no-repeat;
  padding: 105px;
  background-size: 275px, 200px, auto;
}
#coffee {
  background: url(types.png)left top no-repeat;
  padding: 125px;
  background-size: 350px, 300px, auto;
}
#done {
  background-color: #fffcf1;
  width: 400px;
  border: 5px solid #674833;
  padding: 50px;
  margin: 0 auto;
}
